/* styles for the sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 85px) !important; 
    overflow-y: auto; 
}
.sidebar-content{
    flex-grow: 1;
}

.sidebar-bottom {
    margin-top: auto;
}

/* styles for the buttons */
.button-fullwidth {
    width: 100% !important; 
}
.button-left{
    text-align: left;
    padding-left:40px;
}
.button-container {
    position: relative;
}
.badge-button {
    position: relative;
    overflow: visible;
}
.badge-number {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 50%;
    pointer-events: none;
    cursor: pointer;
}
.badge-indicator {
    display: inline-block !important;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    pointer-events: none;
    cursor: pointer;
    background-color: red; 
}