/* styles for the sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px) !important; 
    overflow-y: auto; 
    margin-bottom: 0;
}
.sidebar-content{
    flex-grow: 1;
}

.sidebar-bottom {
    margin-top: auto;
}

/* styles for the buttons */
.button-fullwidth {
    width: 100% !important; 
}
.button-left{
    text-align: left;
    padding-left:40px;
}
.button-container {
    position: relative;
}
.badge-button {
    position: relative;
    overflow: visible;
}
.badge-number {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 50%;
    pointer-events: none;
    cursor: pointer;
}
.badge-indicator {
    display: inline-block !important;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    width: 20px;
    pointer-events: none;
    cursor: pointer;
    background-color: orange; 
}
.background-yellow{
    background-color: yellow !important;
}
.background-red{
    background-color: red !important;
}
.background-green{
    background-color: green !important;
}

/* misc */
.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.showit {
    opacity: 1 !important;
}